html {
  scroll-behavior: smooth; /* suaviza el scroll para los enlaces del indice */
}
[id] {
  scroll-margin-top: 175px;
} /* -----  -----------------------CUERPO----------------------------------*/
h1 {
  margin-left: 40px;
  color: #11142f;
  font-size: 2rem;
}
.main {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
/* ----- INDICE ----- */
.indice {
  position: sticky;
  top: 160px; /* distancia desde arriba cuando se pega */
  height: fit-content;
}
.indice h1 {
  margin-left: 85px;
}
.lista-indice {
  font-size: 1.5rem;
  text-decoration: none;
  color: #11142f;
  width: 300px;
  margin-left: 45px;
}
.lista-indice a {
  text-decoration: none;
  color: #11142f;
  line-height: 1.7;
}

/* ----- HOJA DE VIDA ----- */

.hoja-vida{
  border-left: #11142f solid 3px;
  padding-left: 15px;
  padding-right: 25px;
}
.hoja-vida {
  background-color: #d3e2fa;
}
h2 {
  text-decoration: none;
  color: #11142f;
  margin-top: 50px;
  margin-bottom: 10px;
}
.hoja-vida p {
  color: #11142f;
  font-size: 1.5rem;
  margin-right: 20%;
  text-align: justify;
  line-height: 1.7;
}

.secciones-hoja {
  color: #4657e5;
}
