.main {
  margin: 60px auto;
  max-width: 80%;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
  color: #11142f;
  margin-bottom: 60px;
}

.interes {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  padding: 40px;
  border-radius: 20px;
  background-color: #cddfff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.Informacion_interes,
.Recurso_interes {
  width: 50%;
}

.Recurso_interes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Recurso_interes iframe {
  width: 100%;
  width: 580px;
  height: 330px;
  border-radius: 15px;
}

.libros img {
  height: 350px;
  width: auto;
  margin-right: 20px;
  object-fit: cover;
}

.carrusel {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  flex-shrink: 0;
}


.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.carrusel .slide{
  position: absolute;
  top: 0;
  left: 0;
}

.carrusel{
  position: relative;
}

.carta{
  width: 250px;
}

