
body{
  background: linear-gradient(90deg,#f6c800,#79b65f);
  height:100vh;
}

.pokemonFont {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.logo img{
  width: 40px;
  height: 40px;
}


p, h5{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* NAVBAR FLOTANTE */
.custom-navbar{
  background: #f1f1e9;
  border-radius: 60px;
  margin: 20px auto;
  max-width: 1100px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Grupo de links tipo cápsula */
.nav-pill{
  background: #e6e6df;
  padding: 6px;
  border-radius: 50px;
  gap: 10px;
}





/* Botón carrito */
.btn-carrito{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #e6e6df;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.tarjeta{
  border-radius: 1rem;
}

.card{
  min-height: 380px;
}

