
body{
    font-family:sans-serif;
    margin: 0px;
    padding: 0px;

}

h2{
    text-align: center;
    font-size: 300%;
}

img{
    border-radius: 19px;
}

.header{
  background-color: #11142f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  color: white;
}



.header h1{
    text-align: center;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:0;
    padding: 35px;
}

.nav li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 0px;
}

.nav li a{
    color: white;
    text-decoration: none;
    font-size: 150%;
}

.nav li:hover{
    font-size: 19px;
}

.quien-es{
    display: flex;
    flex-direction: row;
    margin: 4.5%;
}

.textoConImagen{
    padding: 5%;
    font-size: 200%;
}

.footer {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
}



