
body{
    font-family:sans-serif;
    margin: 0px;
    padding: 0px;

}

h2{
    text-align: center;
    font-size: 300%;
}

img.logo{
    border-radius: 19px;
    display: block;
}

.header{
  background-color: #11142f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:5%;
  color: white;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}





.header h1{
    text-align: center;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:0;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 555%;
}

.nav li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 5%;
}

.nav li a{
    color: white;
    text-decoration: none;
    font-size: 350%;
}

.nav li:hover{
    font-size: 115%;
    transition: 0.3s;
}
     
.quien-es{
    display: flex;
    flex-direction: row;
    margin: 4.5%;
}

.textoConImagen{
    padding: 5%;
    font-size: 200%;
}

.footer {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
}

* {
    border: 1px solid red;
}




