/*-----------DATOS-------------------------------------*/
.main{
    margin-top: 60px;
    margin-bottom: 60px;
}
.titulo{
    color: #11142f;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 45px;

}

.datos{
    font-size: 1.6rem;
}

td, th{ /*Bordes tabla*/
    border: 2px solid #11142f;
    padding: 10px;
    font-size: 1.4rem;
    padding : 15px;
    text-align: left;
}
.tabla{
    border-collapse: collapse;
    width: 60%;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

td{
    width: 450px;;
}
.Titulo_tabla{
    background-color: #11142f;
    color: white;   
    text-align: center;
    font-size: 1.8rem;
}
.tabla tr:nth-child(2n){
    background-color: #02295faf;
    color: white;
}

.logos-tabla{
    justify-content: center;
    align-items: center;
}
