body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0ecffc9;
  color: #222;
}


p {
  font-size: 1.4rem;
}

img {
  border-radius: 19px;
}

/* ----- HEADER (contenedor principal) -----------------------------------------*/
.header {
  background-color: #11142f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  /* contenedor del header */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* ----- NAVBAR ----- */
.nav {
  display: flex; 
  justify-content: space-between; /* separa logo y menú */
  align-items: center; /* centra verticalmente */
  padding: 10px 40px; /* top y bottom | izq y der */
  margin: 0;
}

/* items del menú */
.nav li {
  list-style: none;
  display: flex;
  border-radius: 10px;
}

/* enlaces del menú */
.nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 14px;
  position: relative;
}

.nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 2px;
  background-color: #fdd72d;
  transition: width 0.3s ease;
}

.nav li a:hover::after,
.PaginaActiva a::after {
  width: 100%;
}

/* hover del menú */
.nav li a:hover {
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}

/* ----- LOGO ----- */
.logo {
  display: flex; /* controla alineación */
  align-items: center; /* centra verticalmente */
}

.logo img {
  height: 140px; /* tamaño del logo */
  width: auto; /* mantiene proporción */
  border-radius: 0%;
}

/* ----- HERO -------------------------------------------------- */
.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  padding-left: 13vw;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.65) 40%,
      rgba(0, 0, 0, 0.7) 70%,
      rgba(0, 0, 0, 0.35) 100%
    ),
    url("../Images/hero3.jpg");
  background-size: cover;
  background-position: 65% center;
}

.hero_ul {
  list-style: none;
  margin: 35px;
  padding: 0;
}

.titulo {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 0%;
  text-wrap-style: pretty;
}


/* ----- SECCIÓN QUIÉN ES ----- */
.quien-es {
  display: flex; /* imagen y texto en fila */
  flex-direction: row;
  max-width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


.imagen_portada {
  width: 35%;
  margin-top: 15px;
  margin-left: 45px;
  float: right;
}

/* contenedor del texto */
.textoConImagen {
  padding: 10px;
  display: flex;
  text-align: justify;
  font-size: 1.4rem;
  padding-top: 0px;
  line-height: 1.7;
}

/* ----- FOOTER ----- */
.footer {
  background-color: #11142f;
  color: white;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 0.95rem;
  opacity: 0.8;
}

.Instagram {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.Instagram p {
  justify-content: center;
  text-align: center;
}


.logo_instagram {
  display: inline-flex;
  border-radius: 0%;
  margin: 0;
}

.logo_instagram,
image {
  width: 35px;
  height: 35px;
}

.logoTransparente {
  height: 100px;
}

.logoTransparente img {
  height: 130px;
  object-fit: cover;
}
