body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
    font-size: 300%;
    margin:45px;
}

img{
    border-radius: 19px;
}

/* ----- HEADER (contenedor principal) ----- */
.header{
    background-color: #11142f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    /* contenedor del header */
    color: white;
}

/* título dentro del header */
.header h1{
    text-align: center;
}

/* ----- NAVBAR ----- */
.nav{
    display: flex;                  /* layout horizontal */
    justify-content: space-between; /* separa logo y menú */
    align-items: center;            /* centra verticalmente */
    padding: 10px 40px; /* top y bottom | izq y der */
    margin: 0;
}

/* items del menú */
.nav li{
    list-style: none;               /* quita viñetas */
    display: flex;          
        /* permite alinear contenido */
    border-radius: 10px;
}

/* enlaces del menú */
.nav li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px; 
    text-align: center;
    transition: all 0.2s ease-in-out;
}

/* hover del menú */
.nav li a:hover{
    font-size: 2.2rem;
    transition: all 0.2s ease-in-out;
}

/* ----- LOGO ----- */
.logo{
    display: flex;                  /* controla alineación */
    align-items: center;            /* centra verticalmente */
}

.logo img{
    height: 140px;                  /* tamaño del logo */
    width: auto;                    /* mantiene proporción */
}

/* ----- SECCIÓN QUIÉN ES ----- */
.quien-es{
    display: flex;                  /* imagen y texto en fila */
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0;
}

.imagen_portada{
    width: 50%;
    margin-left: 45px;
    float: right;
}

/* contenedor del texto */
.textoConImagen{
    padding: 10px;
    display: flex;
    text-align: justify;
    font-size: 200%;
    padding-top: 0px;
}

/* ----- FOOTER ----- */
.footer{
    border-top: 1px solid #ccc;
    margin-top: 2rem;
}


